body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

.main-header {
  background-color: #eeeeee;
  min-width: 1440px;
  min-height: 540px;
  margin-bottom: 75px;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1160px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: #000000;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding: 50px 20px 20px 20px;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 440px;
  margin: 0;
  padding: 80px 140px 20px 20px;

  list-style: none;
}

.basket {
  width: 130px;
  margin: 0;
  padding: 80px 20px 20px 20px;
}

.site-navigation a,
.basket {
  color: #000000;
}

.site-navigation a:focus,
.site-navigation a:hover,
.basket:focus,
.basket:hover {
  color: #fb565a;
}

.site-navigation a:active,
.basket:active {
  color: rgba(0, 0, 0, 0.302);
}

.container {
  width: 1160px;
  margin-left: 120px;
  margin-right: 120px;
  padding: 0 10px;
}

.products {
  margin-right: 60px;
  margin-bottom: 80px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-item {
  width: 300px;
  text-align: left;
}

.products-item-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.products-item-text {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto";
  color: #283136;
  text-transform: none;
}

.sites-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.apps-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #00ca74;
  border: none;
}

.presents-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #efc84a;
  border: none;
}

.feedback-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.sites-button:hover,
.sites-button:focus {
  color: rgb(255, 255, 255);
  background-color: #e74246;
}

.sites-button:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
}

.apps-button:hover,
.apps-button:focus {
  color: rgb(255, 255, 255);
  background-color: #00bc6c;
}

.apps-button:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #00aa62;
}

.presents-button:hover,
.presents-button:focus {
  color: rgb(255, 255, 255);
  background-color: #eab534;
}

.presents-button:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #e5a722;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  text-transform: none;
}

.catalog {
  width: 800px;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
  margin-bottom: 20px;
}

.filters {
  width: 260px;
  margin-bottom: 75px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  text-transform: none;
}

.filter-input:hover+label,
.filter-input:focus+label {
  color: #4d4d4d;
}

.filter-input:disabled+label {
  color: rgba(40, 49, 54, 0.302);
}

.filter-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.302);
  background-color: #d5d5d5;
}

.catalog-template {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.catalog-template-title {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.catalog-template-info {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
  text-transform: none;
}

.catalog-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: #e74246;
}

.catalog-button:active {
  background-color: #d7373b;
}

.feedback-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #d7dcde;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  text-transform: none;
}

.feedback-item input:hover,
.feedback-item input:focus {
  border: 2px solid #b4b9bb;
}

.feedback-item input:active {
  border: 2px solid #000000;
}

.feedback-head {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.feedback-item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  margin-top: 80px;
}

.footer-social {
  padding: 0;
  margin: 0;
  width: 260px;
  list-style: none;
  text-align: center;
}

.social-button {
  color: #ffffff;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  color: #e37376;
  background-color: #d7373b;
}

.friend {
  width: 560px;
  margin: 0 auto;
}

.friend-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.friend-text {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #000000;
  text-transform: none;
}
