body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-navigation {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 0 auto;
  padding: 0 20px;

  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color: #000000;
}

.main-header {
  width: 100%;
  margin-bottom: 75px;
  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding: 50px 20px 20px 45px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  width: 440px;
  margin: 0;
  padding: 0;
  padding: 75px 140px 20px 150px;
  list-style: none;
}

.basket {
  width: 130px;
  margin-left: auto;
  padding: 75px 20px 20px 50px;
}

.site-navigation a,
.basket {
  color: #000000;
}

.site-navigation a:focus,
.site-navigation a:hover,
.basket:focus,
.basket:hover {
  color: #fb565a;
}

.site-navigation a:active,
.basket:active {
  color: rgba(0, 0, 0, 0.302);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.slider-item-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: left;
  text-transform: none;
}

.slider-item-text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-align: left;
  text-transform: none;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.slider-button:hover,
.slider-button:focus {
  background-color: #e74246;
}

.slider-button:active {
  color: #e37376;
  background-color: #d7373b;
}

.products {
  margin-bottom: 80px;
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products-item {
  width: 300px;
  text-align: left;
}

.products-item-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.products-item-text {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto";
  color: #283136;
  text-transform: none;
}

.sites-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.apps-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #00ca74;
  border: none;
}

.presents-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #efc84a;
  border: none;
}

.feedback-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.sites-button:hover,
.sites-button:focus {
  color: rgb(255, 255, 255);
  background-color: #e74246;
}

.sites-button:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
}

.apps-button:hover,
.apps-button:focus {
  color: rgb(255, 255, 255);
  background-color: #00bc6c;
}

.apps-button:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #00aa62;
}

.presents-button:hover,
.presents-button:focus {
  color: rgb(255, 255, 255);
  background-color: #eab534;
}

.presents-button:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #e5a722;
}

.info {
  display: flex;
  justify-content: space-between;
}

.accuracy  {
  display: flex;
  flex-direction: column;
}

.info-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
  text-align: left;
  text-transform: none;
}

.info-text {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-align: left;
  text-transform: none;
}

.list-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.info-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-align: left;
  text-transform: none;
}

.table-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.cell-title {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
  text-align: left;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.contacts-phone,
.contacts-address {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  text-align: left;
  text-transform: none;
}

.contacts-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.contacts-button:hover,
.contacts-button:focus {
  background-color: #e74246;
}

.contacts-button:active {
  color: #e37376;
  background-color: #d7373b;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  text-transform: none;
}

.catalog {
  width: 800px;
}

.filters-catalog {
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
  margin-bottom: 20px;
}

.filters {
  width: 260px;
  margin-bottom: 75px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  text-transform: none;
}

.filter-input:hover+label,
.filter-input:focus+label {
  color: #4d4d4d;
}

.filter-input:disabled+label {
  color: rgba(40, 49, 54, 0.302);
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.price-controls label {
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
}

.sort-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.sort-list a {
  color: rgba(0, 0, 0, 0.302)
}

.sort-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.sort-list a:hover,
.sort-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active,
.sort-list-current a {
  color: #000000;
}

.filter-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
}


.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.302);
  background-color: #d5d5d5;
}

.catalog-template {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.catalog-template-title {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.catalog-template-info {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
  text-transform: none;
}

.catalog-button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: #e74246;
}

.catalog-button:active {
  background-color: #d7373b;
}

.pagination-list a {
  color: #000000;
}

.pagination-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pagination-item  {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.pagination-item a {
  color: #000000;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: #b7b7b7;
  background-color: #d5d5d5;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}


.feedback-item input {
  font: inherit;
  background-color: transparent;
  border: 2px solid #d7dcde;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  text-transform: none;
}

.feedback-item input:hover,
.feedback-item input:focus {
  border: 2px solid #b4b9bb;
}

.feedback-item input:active {
  border: 2px solid #000000;
}

.feedback-head {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.feedback-item label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 70px;
  margin-top: 80px;
}

.footer-social {
  padding: 0;
  margin: 0;
  width: 260px;
  list-style: none;
  text-align: center;
}

.social-button {
  color: #ffffff;
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  color: #e37376;
  background-color: #d7373b;
}

.friend {
  width: 560px;
  margin: 0 auto;
}

.friend-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  color: #000000;
  text-transform: none;
}

.friend-text {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #000000;
  text-transform: none;
}
